<html>

<body>
<table>
    <tr>
        <form action='/addItem' method='POST'>
            <input type='text' autofocus placeholder='User Name' name='uname' value='{{ value }}'/>
        </form>
    </tr>
    {% for item in userList %}
        <tr>
            <td>
                {% print(item) %}
            </td>
            <td>
                <a href='deleteItem?name={{ item }}' </a> remove</a>
            </td>
            <td>
                <a href='editItem?name={{ item }}' </a> edit </a>
            </td>
        </tr>
    {% endfor %}
</table>
</body>

</html>