<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="scripts.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <table>
            <tr ng-repeat="x in names">
                <td ng-bind="x.name">
                </td>
                <td ng-bind="x.age">
                </td>
                <td>
                    <a href="http://127.0.0.1:5000/delete?name={{x.name}}">x</a>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>
